$aco_orange: #EB503C;
$aco_black: #282836;
$border: #D6D3D0;
$white: #FFFFFF;
$background: #F8F7F6;
$gray: #706D65;
*, *:before, *:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: "Helvetica Neue", "Helvetica", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Arial", "Yu Gothic", "Meiryo", sans-serif;
    line-height: 1.6;
    font-size: 16px;
}

.hidden {
    display: none;
}
body {
    padding: 0;
    margin: 0;
}
button {
    &:hover {
        cursor: pointer;
    }
    &:focus {
        outline: 2px solid $aco_orange;
    }
}
header, main, footer {
    margin: 0;
    width: 100%;
}
.contentsWapper {
    max-width: 800px;
    margin: 0 auto;
}
header {
    padding: 24px 0;
    border-bottom: 1px solid $border;
    h1 {
        font-size: 24px;
        font-weight: bold;
        line-height: 1;
        text-transform: uppercase;
        color: $aco_orange;
        margin: 0;
    }
}
main{
    padding: 32px 0;
    min-height: calc(100vh - 168px);
    .contentsWapper {
        margin: 0px auto;
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: 40px;
    } 
    
    #input { 
        // height: calc(100vh - 400px);
        height: auto;
        padding: 32px 0;
        box-shadow: 0 0 13px 0 rgba(117,117,117,.37);
        border-radius: 8px;
        background-color: $background;
        // flex: 1;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 8px;
        &.focus {
            border: 2px solid $aco_orange;
        }
        div {
            color: $gray;
            text-align: center;
        }
        #filename_wrapper {
            display: flex;
            flex-direction: row;
            gap: 8px;
        }
        #button {
            &_input {
                &_customized {
                    border: 1px solid #D6D3D0;
                    color: #23221E;
                    font-size: 16px;
                    font-weight: 600;
                    background-color: $white;
                    border-radius: 4px;
                    padding: 8px 16px;
                    display: flex;
                    flex-direction: row;
                    gap: 8px;
                    justify-content: center;
                    align-items: center;
                    &:hover {
                        color: $aco_orange;
                    }
                    &::before {
                        font-family: "Material Symbols Rounded";
                        content: "\e2c8";
                        font-size: 16px;
                        line-height: 24px;
                        // margin-right: 8px;
                    }
                }
                &_original {
                    display: none;
                }
            }
            &_clear_input {
                border: 0;
                border-radius: 4px;
                background-color: rgba(255, 255, 255, 0);
                height: 25.6px;
                &::after {
                    font-family: "Material Symbols Rounded";
                    content: "\e872";
                    font-size: 20px;
                    line-height: 25.6px; 
                    color: $aco_black;
                }
                &:hover::after {
                    color: #E6A8A0;
                }
            }
            &_convert {
                border: 0;
                border-radius: 40px;
                background-color: $gray;
                width: 80px;
                height: 80px;
                position: absolute;
                bottom: -60px;
                left: calc(50% - 40px);
                box-shadow: 0px 0px 13px rgba(100, 100, 100, 0.37);
                z-index: 1;
                // &:focus {
                //     outline: 2px solid $aco_black;
                // }
                &::after {
                    font-family: "Material Symbols Rounded";
                    content: "\ead0";
                    font-size: 40px;
                    line-height: 80px;
                    position: relative;
                    color: #fff;
                }
                &:hover {
                    background-color: $aco_orange;
                    box-shadow: 0px 0px 14px rgba(164, 58, 44, 0.74);
                }      
            }
        }
        
    }
    #output{
        // flex: 1;
        position: relative;
        height: 400px;
        #area_output {
            height: 100%;
            width: 100%;
            padding: 32px;
            background-color: #FFF;
            border: 2px solid $border;
            box-shadow: 0px 0px 13px rgba(117, 117, 117, 0.37);
            border-radius: 8px;
            color: $aco_black;
            resize: none;
            // overflow: hidden;
            &:focus {
                outline: 2px solid $aco_orange;
            }}
        #button_clear_output {
            border: 0;
            background-color: rgba(117, 117, 117, 0);
            position: absolute;
            top: 16px;
            right: 24px;
            height: 48px;
            width: 48px;
            border-radius: 8px;
            text-align: center;
            &::after {
                font-family: "Material Symbols Rounded";
                content: "\e5cd";
                font-size: 32px;
                line-height: 48px; 
                color: #98989E;
            }
            &:hover::after {
                color: #E6A8A0;
            }
        }
        #button_copy {
            border: 0;
            background-color: rgba(255, 255, 255, .7);
            position: absolute;
            bottom: 16px;
            right: 24px;
            height: 48px;
            width: 48px;
            border-radius: 8px;
            text-align: center;
            &::after {
                font-family: "Material Symbols Rounded";
                content: "\e14d";
                font-size: 32px;
                line-height: 48px; 
                color: $aco_orange;
            }
            &:hover {
                background-color: #E9E9EB;
            }
        }
        #message{
            padding: 12px 40px;
            color: $aco_black;
            min-width: 160px;
            max-width: 90%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: #FDFDFD;
            box-shadow: 0px 0px 13px rgba(117, 117, 117, 0.37);
            border-radius: 8px;
            text-align: center;
        }
    }
}
footer {
    padding: 32px 0;
    height: 96px;
    background-color: $aco_black;
    .contentsWapper {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 16px;
    }
    .footer_logo {
        height: 24px;
    }
    a:hover {
        opacity: .6;
    }
    .footer_credit {
        // text-transform: uppercase;
        color: #FDFDFD;
        opacity: 0.8;
        font-size: 16px;
        line-height: 32px;
    }
}
